.jumbotron{
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color:saddlebrown;
    color: white
}
.card-header{
    color: white;
    background-color: blue;
}
